In [11]:
#K-Means algorithm
import math
import pandas as pd

In [2]:
dp = [(2,10),(2,5),(8,4),(5,8),(7,5),(6,4),(1,2),(4,9)]

In [3]:
#consider three centroids a1,b1,c1 initially
c  =[(2,10),(5,8),(1,2)]

In [4]:
data = {
    "Distance C1":[None]*len(dp),
    "Distance C2":[None]*len(dp),
    "Distance C3":[None]*len(dp),
    "Cluster":[None]*len(dp),
    "New Cluster":[None]*len(dp)
}

In [5]:
df = pd.DataFrame(data,index=['A1','A2','A3','B1','B2','B3','C1','C2'])

In [6]:
df

   Distance C1 Distance C2 Distance C3 Cluster New Cluster
A1        None        None        None    None        None
A2        None        None        None    None        None
A3        None        None        None    None        None
B1        None        None        None    None        None
B2        None        None        None    None        None
B3        None        None        None    None        None
C1        None        None        None    None        None
C2        None        None        None    None        None

In [23]:
while(True):
    for i in range(len(df)):
        row_distance = []
        for j in range(0,3):
            #calculating the eucledian distance.
            x1 = dp[i][0]
            y1 = dp[i][1]
            
            x2 = c[j][0]
            y2 = c[j][1]
            
            ed = ((x2-x1)**2+(y2-y1)**2)**0.5
            ed = round(ed,2)
            df.iloc[i,j] = ed
            row_distance.append(ed)
        min_dist = min(row_distance)
        df.iloc[i,4] = row_distance.index(min_dist)+1
    #check whether new cluster and old cluster values or same or not
    if(df['Cluster'].equals(df['New Cluster'])):  #is equal break the loop.
        break 
    else:
        #new cluster becomes old cluster, loop repeats again.
        temp_list = [[0,0]]*len(c)
        for i in range(len(df)):
            cluster_val = df.iloc[i,4] # new cluster value
            x = dp[i][0]
            y = dp[i][1]
            temp_list[cluster_val - 1][0] += x
            temp_list[cluster_val - 1][1] += y
        for i in range(len(temp_list)):
            
        df['Cluster'] = df['New Cluster']
    break

In [24]:
df

   Distance C1 Distance C2 Distance C3 Cluster New Cluster
A1         0.0        3.61        8.06       1           1
A2         5.0        4.24        3.16       3           3
A3        8.49         5.0        7.28       2           2
B1        3.61         0.0        7.21       2           2
B2        7.07        3.61        6.71       2           2
B3        7.21        4.12        5.39       2           2
C1        8.06        7.21         0.0       3           3
C2        2.24        1.41        7.62       2           2